<h1>Todas as Tasks</h1>
<ul class="task-list">
  {{#each tasks}}
    <li>
      <a href="/tasks" class="title">{{this.title}}</a>
      <div class="actions">
        <a href="/"><i class="material-symbols-outlined">done</i></a>
        <a href="/"><i class="material-symbols-outlined">edit</i></a>
        <form action="/tasks/remove" method="post">
        <input type="hidden" name="id" value="{{this.id}}">
        <button type="submit"><i class="material-symbols-outlined">delete</i></button>
        </form>
      </div>
    </li>
  {{/each}}
</ul>